<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.huarui.hr.lsy.mapper.UsersMapper">
 	<resultMap type="Users" id="MyUsers">
 		<id column="u_id" property="u_id"></id>
 		<result column="u_name" property="u_name"/>
 		<result column="u_true_name" property="u_true_name"/>
 		<result column="u_password" property="u_password"/>
 	</resultMap>
 	<resultMap type="Users" id="userRoleRight" extends="MyUsers">
 		<association property="role" column="u_roleid" select="com.huarui.hr.lsy.mapper.SysRoleMapper.queryRoleById"></association>
 	</resultMap>
 	
 	<resultMap type="Users" id="userRole" extends="MyUsers">
 		<association property="role" column="u_roleid" select="com.huarui.hr.lsy.mapper.SysRoleMapper.queryRoleById2"></association>
 	</resultMap>
 	
 	<select id="queryUsersByNameAndPwd" resultMap="userRoleRight">
 		select * from users where u_name=#{u_name} and u_password=#{u_password}
 	</select>
 	<select id="queryUsersAndRole" resultMap="userRole">
 		<bind name="pp" value="(page-1)*rows"/>
 		select * from users order by ${sort} ${order} limit #{pp},#{rows}
 	</select>
 	<insert id="insertUser">
 		INSERT INTO users (u_name, u_true_name,u_password, u_roleid) VALUES (#{u_name},#{u_true_name},#{u_password},#{role.role_id})
 	</insert>
 	
 </mapper>